spring:
  jackson:
    time-zone: Asia/Seoul

  data:
    redis:
      host: redis
      port: 6379

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PWD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
  
  servlet:
    multipart:
      maxFileSize: 10MB
      maxRequestSize: 50MB

aws:
  s3:
    bucket: ${S3_BUCKET}
  credentials:
    access-key: ${AWS_ACCESS_KEY}
    secret-key: ${AWS_SECRET_KEY}
  region: ap-northeast-2

jwt:
  secret: ${JWT_SECRET_KEY}
  access-token:
    expiration: ${JWT_ACCESS_EXPIRATION}
  refresh-token:
    expiration: ${JWT_REFRESH_EXPIRATION}

server:
  port: 8080
  tomcat:
    threads:
      max: 40        
      min-spare: 5

urls:
  frontend: ${URLS_FRONTEND}
  backend: ${URLS_BACKEND}

google:
  client-id: ${GOOGLE_CLIENT_ID}
  client-secret: ${GOOGLE_CLIENT_SECRET}
  redirect-uri: ${GOOGLE_REDIRECT_URI}

sentry:
  dsn: ${SENTRY_DSN}
  environment: prod
  sample-rate: 1.0
  traces-sample-rate: 0.2
  send-default-pii: true
  max-request-body-size: always

  exception-resolver-order: -2147483647

  # Sentry 이슈 생성에서 제외되는 예외들
  ignored-exceptions-for-type:
    - org.lxdproject.lxd.global.apiPayload.code.exception.handler.GeneralException
    - org.springframework.web.bind.MethodArgumentNotValidException
    - org.springframework.http.converter.HttpMessageNotReadableException
    - jakarta.validation.ConstraintViolationException
    - org.springframework.validation.BindException
    - org.springframework.web.bind.MissingServletRequestParameterException

discord:
  error-alert-url: ${DISCORD_ERROR_WEBHOOK_URL}
  enabled: true
  timeout-ms: 2000
